{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Perform an analysis{% endblock %}
{% block content %}
<div class="card rainbow-box">
	{{ utils.flashed_messages() }}
	<div class="card-body text-center">
		{% if id %}
			{% if session_timestamp %}
				<h1>analysis menu</h1>
				<h3>for session starting {{ session_timestamp }}</h3>
			{% endif %}
			<div class="list-group active ">
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare', id=id) }}">
		      Overview batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_author', id=id) }}">
		      Author/Creator (1xx) batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_title', id=id) }}">
		      Title/Publisher (2xx) batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_physical', id=id) }}">
		      Physical description (3xx) batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_notes', id=id) }}">
		      Notes (5xx) batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_subjects', id=id) }}">
		      Subject (6xx) batch comparison
		    </a>
				<a class="list-group-item list-group-item-action" href="{{ url_for('compare.batch_compare_added_author', id=id) }}">
		      Added author (7xx) batch comparison
		    </a>
			</div>
		{% else %}
		<div class="card">
			<p>You don't have any sessions to compare. <a href="{{ url_for('compare.start_session') }}">Start a session.</a></p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
