{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Comparing two batches for 6xx data{% endblock %}
{% block content %}
<div class="card">
	<br/>
	{{ utils.flashed_messages() }}
	<br/>
  <div class="card-body text-center">
		<h1>{{ field_set_label }} ({{ field_set }}) field batch analysis for session starting {{ session_dict['session_timestamp'] }}</h1>
		<a href="{{ url_for('compare.analysis_menu', id=id) }}">Back to analysis menu for session {{ id }}</a>
    <hr>
		{% if session_dict['batches'] != [] %}
			<div class="btn-group" role="group" aria-label="data list options">
				<button type="button" class="btn btn-primary" id="show-all">Show all the records</button>
				<button type="button" class="btn btn-warning" id ="show-discrepancies">Show only records with discrepancies</button>
			</div>
				<!-- <p>{{ session_dict}}</p> -->
				<!-- <table id="compareTable" class="table table-striped table-bordered"> -->
				<div class="table-responsive">
				<table
					data-toggle="table"
					data-search="true"
					data-pagination="false">
          <thead>
            <tr>
							<th width="10%">Compare records</th>
							{% set cols = session_dict['batches'] | length %}
							{% set width = 90/cols | int %}
							{% for batch in session_dict['batches'] %}
	              <th width="{{ width }}%"> Batch source: {{ batch['source'] }} </th>
							{% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for row in session_dict['rows'] if not row['row'] == 0 %}
						{% if row['records'][0]['data']['color'] %}
	            <tr class="diffRecords">
								<td>
									<a href="{{ url_for(
										'compare.record_compare',
										records=row['record_ids'],
										session_id=id) }}">
										{{ row['row'] }}
									</a>
								</td>
								{% for record in row['records'] %}
									{% if record['data']['color'] == 'green' %}
										<td class="table-success">
											Record <b>{{ record['id'] }}</b> has <b>{{ record['data'][field_set_count] }} {{ field_set }} fields</b>.<br>
											{{ record['data']['title'] }}
			              </td>
									{% elif record['data']['color'] == 'red' %}
										<td class="table-danger">
											Record <b>{{ record['id'] }}</b> has <b>{{ record['data'][field_set_count] }} {{ field_set }} fields</b>.<br>
											{{ record['data']['title'] }}
										</td>
									{% endif %}
								{% endfor %}
	            </tr>
						{% else %}
						<tr class="equivalentRecords">
							<td>
								<a href="{{ url_for(
									'compare.record_compare',
									records=row['record_ids'],
									session_id=id) }}">
									{{ row['row'] }}
								</a>
							</td>
							{% for record in row['records'] %}
								<td>
									Record <b>{{ record['id'] }}</b> has <b>{{ record['data'][field_set_count] }} {{ field_set }} fields</b>.<br>
									{{ record['data']['title'] }}
								</td>
							{% endfor %}
						</tr>
						{% endif %}
          {% endfor %}
          </tbody>
        </table>

				</div>
			{% else %}
			<p>This session has no data to compare :/</p>
			{% endif%}
  </div>
</div>

{% endblock %}
