{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Comparing two batches for 6xx data{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body text-center">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <h1>Subject (6xx field) batch analysis for session starting {{ session_dict['session_timestamp'] }}</h1>
		<a href="{{ url_for('compare.analysis_menu', id=id)}}">Back to analysis menu for session {{ id }}</a>
      <hr>
			{% if session_dict['batches'] != [] %}
				<!-- <p>{{ session_dict}}</p> -->
				<table class="table table-striped table-bordered">
          <thead>
            <tr>
							{% set cols = session_dict['batches'] | length %}
							{% set width = 100/cols | int %}
							{% for batch in session_dict['batches'] %}
	              <th width="{{ width }}%"> Batch source: {{ batch.source }} </th>
							{% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for row in session_dict['rows'] if not row['row'] == 0 %}
            <tr>
							{% for record in row['records'] %}
								{% if record['data']['color'] == 'green' %}
									<td class="table-success">
										Record {{ record['id'] }} has {{ record['data']['subject_field_count'] }} 6xx fields.
		              </td>
								{% elif record['data']['color'] == 'red' %}
									<td class="table-danger">
										Record {{ record['id'] }} has {{ record['data']['subject_field_count'] }} 6xx fields.
									</td>
								{% else %}
									<td>
										Record {{ record['id'] }} has {{ record['data']['subject_field_count'] }} 6xx fields.
									</td>
								{% endif %}
							{% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
			{% else %}
			<p>This session has no data to compare :/</p>
			{% endif%}
  </div>
</div>
{% endblock %}
