{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
<div class="card how-to">
	<div class="card-body">
		<h1>HOW-TO</h1>
		<hr>
		<h2>MARCompare</h2>
		<p>This is a Flask-based webapp to compare MARC bibliographic records coming from (at least?) two different sources. It uses simple comparisons to point to which source has more data, which records are more complete, etc. For the moment the comparisons are simple "more is better" with visual cues to indicate which records have more data.</p>
		<hr>
		<div class="accordion" id="instructions">
			<div class="card cream">
				<div class="card-header" id="headingPrep">
					<h5 class="mb-0">
						<button class="btn" type="button" data-toggle="collapse" data-target="#collapsePrep" aria-expanded="false" aria-controls="collapsePrep">
							Preparing MARC files
						</button>
					</h5>
				</div>
				<div id="collapsePrep"  class="collapse" aria-labelledby="headingPrep" data-parent="#instructions">
					<div class="card-body">
						This can take many different forms depending on the systems you use as the source(s)
						of the records to compare. Below are some examples. I would suggest installing both
						<a href="https://marcedit.reeset.net/">MarcEdit</a> (there are versions for Windows, Mac, and Linux)
						and a text editor like <a href="https://www.sublimetext.com/">Sublime Text</a>.
						<ol type="1">
							<li>Define the scope of your comparison.
								<ol type="a">
									<li>For example, you can decide to compare records for books published before 1700.</li>
								</ol>
							</li>
							<li>Perform a search that retrieves the records in question where you know there will be overlap between the sources. (Specifically there must be matches on OCLC number between source A and source B)</li>
							<li>Export the records if your system can export MARC-XML (Alma can do this), otherwise export the records as a spreadsheet so you can grab the OCLC numbers for doing a Z39.50 query (you have to do this for Millennium).</li>
							<li>If you have a list of OCLC numbers you need to query against to get "real" MARC records, you will need to use
									MarcEdit to retrieve the records as a .mrc batch file.
								<ol type="i">
									<li>Copy the column of OCLC numbers you have exported and paste them into a plain text (.txt) file. Make sure it's plain text and not rich text! This is where Sublime Text will come in handy.</li>
									<li>Your text file list of OCLC numbers should look like this, ideally without spaces before or after the numbers:
										<pre><code>123456<br>7891011<br>98765543<br>654321</code></pre>
									</li>
									<li>To do a Z39.50 query you will need to specify the correct "attributes" for the query <b>in each line</b>.
										Unfortunately this varies by library system, but for Millennium, you need to specify <code>@attr 1=1211 @attr 5=100</code> in order to search on OCLC number.
										For comparison, if you're searching Worldcat, the attributes are <code>@attr 1=12 @attr 5=100</code>.
									</li>
									<li>To avoid having to type out <code>@attr 1=1211 @attr 5=100</code> on every single line
										you can use Sublime Text to do it for you. You can use a pattern matching syntax called a <a href="https://regex101.com/">regular expression</a>
										to make the replacements.
									</li>
									<li>Sublime Text (or any other similiar text editor) has a find/replace function that
										lets you use regular expressions, usually indicated with an icon that looks like a period followed by an asterisk: <b>.*</b><br>
										Get to the find/replace function (via Edit or command-shift-F), then select the regular expression mode.
										In the Find box paste the regular expression <b><code>^(\d+)</code></b> and in the Replace
										box, paste the regular expression <b><code>@attr 1=1211 @attr 5=100 "$1"</code></b><br>Hit "Replace All"
									</li>
									<li>Your text file should look like this now:
										<pre><code>@attr 1=1211 @attr 5=100 "123456"<br>@attr 1=1211 @attr 5=100 "7891011"<br>@attr 1=1211 @attr 5=100 "98765543"<br>@attr 1=1211 @attr 5=100 "654321"</code></pre>
									</li>
									<li>In MarcEdit, you will need to set up Millennium (or what have you) as a known
										database connection. The setup varies by Windows/Mac but basically you "Add Z39.50 database"
										with the correct Host URL, Port, Syntax and your login credentials; then you save it and select it as your
										current database.
									</li>
									<li>Select "batch search" and choose the "Raw (Adv.)" index. Select "Retrieve Unicode" and "server character set" as UTF-8.
										For the input file, select your modified list of OCLC numbers and select a name for the output file.
										<br>
										Hit the search button and you should have your MARC output file in a few seconds!
									</li>
								</ol>
							</li>
							<li>Now you need to use MarcEdit to get your source files into the right MARC <a href="https://en.wikipedia.org/wiki/JSON">JSON</a> format.<br>
								The JSON files need to be processed from MARC XML files in order to make sure they all have the same formatting.
								<ol type="i">
									<li>If your source file is MARC XML already, go to the MARC Tools window and select the "MARCXML => JSON" option.<br>
										Choose your source .xml file as the input and make a name for the output .json file. Hit "Execute" and you should get a JSON version of your file in a couple of seconds.
									</li>
									<li>If your source file is .mrc, first choose the "MARC => MARCXML" option to create an .xml file.
										Then take that file and run "MARCXML => JSON" as described above. The resulting .json file is what you'll upload to MARCompare.</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="card dreamsicle">
				<div class="card-header" id="headingBackground">
					<h5 class="mb-0">
						<button class="btn" type="button" data-toggle="collapse" data-target="#collapseBackground" aria-expanded="false" aria-controls="collapseBackground">
							Input and processing: background
						</button>
					</h5>
				</div>
				<div id="collapseBackground"  class="collapse" aria-labelledby="headingBackground" data-parent="#instructions">
					<div class="card-body">
						<ul>
							<li>MARC files are uploaded as JSON files generated by MARCEdit, and must have originated as MARC XML files.</li>
							<li>This means for example that if the source file is a .mrc file it needs to be converted to XML and then to JSON. Since MARC files can use many different notations for fields and tags this simplifies the data parsing by making MARCEdit conform each file to a common format.</li>
							<li>While MARCEdit is consistent in conforming MARC XML files, it isn't always reliable good at stripping namespaces from XML tags (e.g. <marc:record> vs <record>). You need to tell the MARCompare whether to expect namespaces in each file, and also where to look for the OCLC number (001 or 035.</li>
							<li>You can also note the source of each batch (e.g. "UCLA" and "BERKELEY"), and also make a note about the comparison "session." For example, if you are processing a particular subset of records, you can say "This set is restricted to books published between 1600 and 1750."</li>
							<li>You can then perform various analyses on each "session." You can make an overal comparision showing which batch has more records with more data, and you can also compare field sets (for example, 1xx, 3xx, or 6xx).</li>
							<li>The analyses are stored in the local database, so while the initial processing can be sluggish, you only have to run the processing once.</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card strawberry">
				<div class="card-header" id="headingInstructions">
					<h5 class="mb-0">
						<button class="btn" type="button" data-toggle="collapse" data-target="#collapseInstructions" aria-expanded="true" aria-controls="collapseInstructions">
							Input and processing: instructions
						</button>
					</h5>
				</div>
				<div id="collapseInstructions" class="collapse" aria-labelledby="headingInstructions" data-parent="#instructions">
					<div class="card-body">
						<ol type="1">
							<li>
									Prepare MARC files
									<ol type='a'>
										<li>For each batch, use MarcEdit to convert whatever your source file is into MARC XML.</li>
										<li>Then use MarcEdit to convert each of these XML files to JSON.</li>
									</ol>
							</li>
							<li>"Start a comparison"
								<ol type="a">
									<li>From the MARCompare Dashboard, click on "start a comparison"</li>
									<li>Make any notes you need about the current session ("These records are for incunabula").</li>
									<li>For each batch, upload the JSON file you created, and make a note about where each batch comes from.</li>
									<li>Hit submit!</li>
								</ol>
							</li>
							<li>Do some analyses
								<ol type="a">
									<li>From the "See your comparison sessions" menu, click on the ID of the session you want to look at.</li>
									<li>Before you do any other analyses you need to run the "overall batch analysis." This reads all the records into the database and gets each batch ready for more granular analysis.</li>
									<li>From the Analysis Menu, you can dig down into one of the available field set analyses: 1xx, 2xx, 3xx, 5xx, 6xx, 7xx</li>
									<li>Within any of the field set analyses you can compare a single row of records by clicking on the ID for the row.</li>
									<li>From the side-by-side record comparison, you can optionally pull down the most current OCLC version of the record (using a Z39.50 query behind the scenes).</li>
								</ol>
							</li>
							<li>Next steps
								<ol type='a'>
									<li>I'm hoping to add a couple of other features soon:</li>
									<li>Exporting comparison grids (by batch or by record) so you can use these comparisons in excel, as CSV, or what have you.</li>
									<li>Adding some more analyses that go beyond "more fields must mean better." For example, I'm working on a "custom" analysis where you can specify a particular MARC tag you want to compare (040, 245, 655, etc.)</li>
								</ol>
							</li>
						</ol>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}
