{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Comparing two records{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <h1>Side by side comparison of records from session {{ session_id }}</h1>
		<a href="{{ url_for('compare.analysis_menu', id=session_id)}}">Back to analysis menu for session {{ session_id }}</a>
      <hr>
			{% if compare_dict['records'] != [] %}
				<!-- <p>{{compare_dict}}</p> -->
				<table
				data-toggle="table"
				data-search="true">
					<thead>
						{% set cols = compare_dict['records'] | length %}
						{% set width = 100/cols | int %}
						{% set field_cols = cols * 4 %}
						{% set tag_width = 10 // cols %}
						{% set ind_width = 10 // cols %}
						{% set text_width = 70 // cols %}
						<tr  colspan="{{ field_cols }}">
							{% for record in compare_dict['records'] if not record['record'] == None %}
								<th  colspan="4"> Record source: {{ record['data']['batch_source'] }} <br> {{ record['data']['title'] }} </th>
							{% endfor %}
						</tr>
						<tr colspan="{{ field_cols }}">
							{% for record in compare_dict['records'] if not record['record'] == None %}
								<th width="{{ tag_width }}%">Field number</th>
								<th width="{{ ind_width }}%">Ind 1</th>
								<th width="{{ ind_width }}%">Ind 2</th>
								<th width="{{ text_width }}%">Field text</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% for row in compare_dict['rows'] if not row['row'] == None %}
						<tr>
							{% for field in row['fields'] %}
								{% if field['color'] == 'yellow' %}
									{% set class = 'table-warning' %}
								{% elif field['color'] == 'red' %}
									{% set class = 'table-danger' %}
								{% elif field['color'] == 'green' %}
									{% set class = 'table-success' %}
								{% else %}
									{% set class = '' %}
								{% endif %}

								<td class="{{ class }}" width="{{ tag_width }}%">{{ field['data']['tag'] }}</td>
								<td class="{{ class }}" width="{{ ind_width }}%">{{ field['data']['ind1'] }}</td>
								<td class="{{ class }}" width="{{ ind_width }}%">{{ field['data']['ind2'] }}</td>
								<td class="{{ class }}" width="{{ text_width }}%">{{ field['data']['text'] }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
					</tbody>
				</table>

			{% else %}
			<p>There are no records?? :/</p>
			{% endif%}
  </div>
</div>
{% endblock %}
