{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Start session{% endblock %}
{% block content %}
<div class="card">
	<div class="card-body">
		{{ utils.flashed_messages() }}
		<h1>UPLOAD FILES TO COMPARE</h1>
		<hr>
		<form class="" action="" enctype="multipart/form-data" method="POST" role="form">
			{{ form.hidden_tag() }}
			<div class="form-group row">
				{{ form.session_notes.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.session_notes(class="form-control",placeholder="brief note about this session") }}
				</div>
			</div>
			<hr>
			<div class="form-group row">
				{{ form.batch_1.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_1(class="form-control-file ") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_1_source.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_1_source(class="form-control",placeholder="where is this batch from?") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_1_identifier_field.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_1_identifier_field(class="custom-select") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_1_namespaces.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_1_namespaces(class="form-check-input") }}
				</div>
			</div>
			<hr>
			<div class="form-group row">
				{{ form.batch_2.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_2(class="form-control-file ") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_2_source.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_2_source(class="form-control",placeholder="where is this batch from?") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_2_identifier_field.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_2_identifier_field(class="custom-select") }}
				</div>
			</div>
			<div class="form-group row">
				{{ form.batch_2_namespaces.label(class="col-sm-4 col-form-label") }}
				<div class="col-sm-8">
					{{ form.batch_2_namespaces(class="form-check-input") }}
				</div>
			</div>
			<hr>

			{{ form.submit(class="btn submit-button")}}
		</form>
	</div>
</div>
{% endblock %}
