{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
		<div class="card">
    {% if not current_user.is_authenticated %}
        <div class="card-body">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    {% else %}
        {% if current_user.is_admin %}
            <div class="card-body">
                <a href="{{ url_for('home.admin_dashboard') }}">go to the admin dashboard</a>
            </div>
        {% else %}
            <div class="card-body">
                <a href="{{ url_for('home.dashboard') }}">go to the dashboard</a>
            </div>
        {% endif %}
    {% endif %}
	</div>
{% endblock %}
