<!DOCTYPE HTML>
<html lang='en'>
	<head>
	  {% if title %}
	  <title>{{ title }}</title>
	  {% else %}
	  <title>MARCompare</title>
	  {% endif %}
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<!-- Bootstrap Table stuff -->
		<link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
		<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.18.3/locale/bootstrap-table-en-US.min.js"></script>
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>

		<!-- JQuery Datatable stuff -->
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">



	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand topnav">compare marc records</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="navbar-nav">
				{% if current_user.is_authenticated %}
					{% if current_user.is_admin %}
						<a class="nav-item nav-link" href="{{ url_for('home.admin_dashboard') }}">Admin Dashboard</a>
					{% else %}
	          <a class="nav-item nav-link" href="{{ url_for('home.dashboard') }}">Dashboard</a>
					{% endif %}
					<a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
				{% else %}
					<a class="nav-item nav-link" href="{{ url_for('auth.login') }}">Login</a>
				{% endif %}
				</div>
			</div>
		</nav>

		<div class="wrapper">
  			{% block content %}
  			<!-- DYNAMIC STUFF GOES HERE -->
  			{% endblock %}
		</div>
		<script src="{{url_for('static', filename='scripts.js')}}"></script>

	</body>
	<footer class="page-footer bg-light">
		<p>stuff</p>
	</footer>
</html>
